<div class="page">
	<nav id="colorlib-main-nav" role="navigation">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle active"><i></i></a>
		<div class="js-fullheight colorlib-table">
			<div class="img" style="background-image: url(images/bg_22.jpg);"></div>
			<div class="colorlib-table-cell js-fullheight">
				<div class="row no-gutters">
					<div class="col-md-12 text-center">
						<h1 class="mb-4"><a href="/" class="logo">SnatchYourWig<br><span>Beautify Agency</span></a></h1>
						<ul>
							<li><a href="/"><span><small>01</small>Home</span></a></li>
							<li class="active"><a href="about"><span><small>02</small>About</span></a></li>
							<li><a href="donation"><span><small>03</small>donations</span></a></li>
							<li><a href="blog"><span><small>04</small>Blog</span></a></li>
							<li><a href="contact"><span><small>05</small>Contact</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<div id="colorlib-page">
		<header>
			<div class="colorlib-navbar-brand">
				<a class="colorlib-logo" href="/">SnatchYourWig<br><span>Beautify Foundation</span></a>
			</div>
			<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
		</header>

		<section class="hero-wrap" style="background-image: url(images/bg_2.jpg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters text align-items-end justify-content-center" data-scrollax-parent="true">
					<div class="col-md-8 ftco-animate text-center">
						<p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>About</span></p>
						<h1 class="mb-5 bread">About Us</h1>
					</div>
				</div>
			</div>
		</section>
		<!-- END slider -->



		<section class="ftco-section-2">
			<div class="container-fluid">
				<div class="section-2-blocks-wrapper d-flex row no-gutters">
					<div class="img col-md-6 ftco-animate" style="background-image: url('images/bg_6.jpg');">
					</div>
					<div class="text col-md-6 ftco-animate">
						<div class="text-inner align-self-start">

							<h3 class="heading">Nuzhat Siddiqi</h3>
							<div class="services d-flex ftco-animate">
								<div class="icon d-flex justify-content-center align-items-center"><span
										class="flaticon-quality"></span></div>
								<div class="info ml-4">
									<h3>Change of Life</h3>
									<p>A few years ago I was diagnosed with cancer and soon after I had to begin
										treatment for it. When I started chemotherapy, i started to lose hair. As a
										woman and someone who admires long hair, it was a difficult time. I felt sadness
										due to the changes in my appearance. While I was working one day in the city, i
										went into my office bathroom to cry. At that time, a woman walked in and started
										consoling me. When she learned it was due to my hair loss, she made it a point
										to bring in a wig for me the next day. I instantly wore it and actually felt
										better. After that, i started buying more wigs and i started to feel good as I'd
										have different hairstyles everyday. This changed my perspective and today i want
										to help others who may need a wig in such situations</p>
								</div>
							</div>

						</div>
					</div>
				</div>
		</section>
		<section class="ftco-section-2">
			<div class="container-fluid">
				<div class="section-2-blocks-wrapper d-flex row no-gutters">
					<div class="img col-md-6 ftco-animate" style="background-image: url('images/al.jpg');">
					</div>
					<div class="text col-md-6 ftco-animate">
						<div class="text-inner align-self-start">

							<h3 class="heading">Al Lopes</h3>
							<div class="services d-flex ftco-animate">
								<div class="icon d-flex justify-content-center align-items-center"><span
										class="flaticon-quality"></span></div>
								<div class="info ml-4">
									<h3>Oportunity of Life</h3>
									<p>
										I had been lacking in charity since I emigrated to the United States. When my
										classmate accepted me for her project, I was extremely happy. I want at the end
										of this project to leave my legacy, helping people who fight against cancer!</p>
								</div>
							</div>

						</div>
					</div>
				</div>
		</section>
		<section class="ftco-section testimony-section img" style="background-image: url(images/bg_7.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-7 mb-5 text-center heading-section ftco-animate">
						<h2 class="mb-4">Customer Says</h2>
						<p> </p>
					</div>
				</div>
				<div class="row d-md-flex justify-content-center">
					<div class="col-md-7 ftco-animate">
						<div class="carousel-testimony owl-carousel">
							<div class="item">
								<div class="testimony-wrap text-center">
									<div class="user-img mb-5" style="background-image: url(images/person_1.jpg)">
										<span class="quote d-flex align-items-center justify-content-center">
											<i class="icon-quote-left"></i>
										</span>
									</div>
									<div class="text">
										<p class="mb-5">“When else am I going to be able to rock a blond wig one day and
											a brunette one the next? Wigs are my armor. They help me power through the
											day.”</p>
										<p class="name">Mika Lewis</p>
										<span class="position">Teacher</span>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="testimony-wrap text-center">
									<div class="user-img mb-5" style="background-image: url(images/person_2.jpg)">
										<span class="quote d-flex align-items-center justify-content-center">
											<i class="icon-quote-left"></i>
										</span>
									</div>
									<div class="text">
										<p class="mb-5">“My insurance claimed that they would cover 70 percent of the
											cost, but that was only for synthetic wigs — they wouldn’t cover real hair”
										</p>
										<p class="name">Donna Green</p>
										<span class="position">Actor</span>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="testimony-wrap text-center">
									<div class="user-img mb-5" style="background-image: url(images/person_3.jpg)">
										<span class="quote d-flex align-items-center justify-content-center">
											<i class="icon-quote-left"></i>
										</span>
									</div>
									<div class="text">
										<p class="mb-5"> losing my hair was the hardest,” she says. “It’s the public
											face that everyone sees. I felt like Gollum from ‘The Lord of the Rings’
											[without it].”</p>
										<p class="name">Delila West</p>
										<span class="position">Dancer</span>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>







		<footer class="ftco-footer ftco-section img">
			<div class="overlay"></div>
			<div class="container">
				<div class="row mb-5">
					<div class="col-md-3">
						<div class="ftco-footer-widget mb-4">
							<h2 class="ftco-heading-2">SnatchYourWig</h2>
							<p>Do you know that there's still a chance for you
								'Cause there's a spark in you
								You just gotta ignite the light
								And let it shine
								Just own the night
								Like the Fourth of July</p>
							<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
								<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
								<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
								<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-4">
						<div class="ftco-footer-widget mb-4">
							<h2 class="ftco-heading-2">Recent Blog</h2>
							<div class="block-21 mb-4 d-flex">
								<a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
								<div class="text">
									<h3 class="heading"><a href="#">I'm happy again</a></h3>
									<div class="meta">
										<div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
										<div><a href="#"><span class="icon-person"></span> Admin</a></div>
										<div><a href="#"><span class="icon-chat"></span> 19</a></div>
									</div>
								</div>
							</div>
							<div class="block-21 mb-4 d-flex">
								<a class="blog-img mr-4" style="background-image: url(images/image_2.jpg);"></a>
								<div class="text">
									<h3 class="heading"><a href="#">SnatchYourWig changes my life</a></h3>
									<div class="meta">
										<div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
										<div><a href="#"><span class="icon-person"></span> Admin</a></div>
										<div><a href="#"><span class="icon-chat"></span> 19</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="ftco-footer-widget mb-4 ml-md-4">
							<h2 class="ftco-heading-2">Site Links</h2>
							<ul class="list-unstyled">
								<li><a href="#" class="py-2 d-block">Home</a></li>
								<li><a href="#" class="py-2 d-block">About</a></li>
								<li><a href="#" class="py-2 d-block">Customer</a></li>
								<li><a href="#" class="py-2 d-block">Blog</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3">
						<div class="ftco-footer-widget mb-4">
							<h2 class="ftco-heading-2">Have a Questions?</h2>
							<div class="block-23 mb-3">
								<ul>
									<li><span class="icon icon-map-marker"></span><span class="text">203 Pafic Coast
											Hwy, Malibu, California, USA</span></li>
									<li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929
												210</span></a></li>
									<li><a href="#"><span class="icon icon-envelope"></span><span
												class="text">info@snatchyourwig.com</span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">


					</div>
				</div>
			</div>
		</footer>

		<!-- loader -->
		<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
				<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
				<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
					stroke="#F96D00" /></svg></div>

	</div>

	<!-- Modal -->
	<div class="modal fade" id="modalRequest" tabindex="-1" role="dialog" aria-labelledby="modalRequestLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalRequestLabel">Request a Quote</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="#">
						<div class="form-group">
							<label for="appointment_name" class="text-black">Full Name</label>
							<input type="text" class="form-control" id="appointment_name">
						</div>
						<div class="form-group">
							<label for="appointment_email" class="text-black">Email</label>
							<input type="text" class="form-control" id="appointment_email">
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="appointment_date" class="text-black">Date</label>
									<input type="text" class="form-control" id="appointment_date">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="appointment_time" class="text-black">Time</label>
									<input type="text" class="form-control" id="appointment_time">
								</div>
							</div>
						</div>


						<div class="form-group">
							<label for="appointment_message" class="text-black">Message</label>
							<textarea name="" id="appointment_message" class="form-control" cols="30"
								rows="10"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" value="Send Message" class="btn btn-primary">
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
</div>