<div class="dona">
  <div class="row">
    <div class="col-md-6 text-center">
      <h1 class="display-3 mt-3 pt-5">
        Thank you to join us!
      </h1><p class="lead">Donate a Wig</p>
      
    </div>
  </div>
</div>